<!--Variables-->

{{ $banner := "/images/roof_banner.jpg" }}
{{ $thanks := "Thanks For Reaching Out" }}
{{ $thanks2 := "You Can Expect To Hear Back From Us Within Two Business Days." }}
{{ $thanks3 := "We Look Forward To Speaking With You Soon!" }}

<!--Variables end-->

<section class="banner bg-parallax overlay" style="background-image: url({{$banner}});">
</section>

<section class="choose-sec container pad-t">
    <div class="row">
        <div class="col-xs-12 text-center">
            <h1 class="main-heading">{{$thanks}}</h1>
            <h2>{{$thanks2}}</h2>
            <h2>{{$thanks3}}</h2>
        </div>
    </div>
</section>

