<section class="contact-sec container">
    <div class="row">
        <h2 style="padding-bottom: 2.5rem; display: flex; justify-content: center;">{{.Get `contact_title`}}</h2>
        <div class="col-xs-12 col-sm-4">
            <!-- Calendly inline widget begin -->
            <div class="calendly-inline-widget" data-url="https://calendly.com/webnertia/strategy" style="height:630px;"></div>
            <script type="text/javascript" src="https://assets.calendly.com/assets/external/widget.js" async></script>
            <!-- Calendly inline widget end -->
        </div>
        <div class="col-xs-12 col-sm-8">
            <h3 class="marg">{{.Get `message`}}</h3>
            <!-- Contact Form of the page -->
            <form action="/confirmation" class="contact-form" name="contact-us-roofing-demo" method="post" data-netlify="true">
                <fieldset>
                    <div class="form-group">
                        <div class="col">
                            <input type="text" name="name" class="form-control" placeholder="Your Name" required>
                        </div>
                        <div class="col">
                            <input type="email" name="email" class="form-control" placeholder="Your Email" required>
                        </div>
                    </div>
                    <textarea class="form-control" name="message" placeholder="Your Message" required></textarea>
                    <button type="submit" class="btn text-uppercase text-center md-round">{{.Get `send`}}</button>
                </fieldset>
            </form>
        </div>
    </div>
</section>